#root {
  padding: 1em;
}

li {
  list-style-type: none;
}

button {
  margin-right: 1em;
}

.remove-button-hidden {
  display: none;
}

.remove-button-visible {
  display: inline-block;
  margin: 0.5 em;
}